<div id="lukebot-adduser-dialog" class="dialog" data-role="dialog">
    <div class="dialog-title">Add user...</div>
    <div class="dialog-content">
        <p>Username</p>
        <input id="lukebot-adduser-username" type="text" data-role="input" />
        <p>Display name</p>
        <input id="lukebot-adduser-displayname" type="text" data-role="input" />
    </div>
    <div class="dialog-actions text-right">
        <button class="button js-dialog-close"
                onclick="console.log('Add user cancelled')">Cancel</button>
        <button class="button primary js-dialog-close"
                onclick="AddUser()">Add</button>
    </div>
</div>