<header id="lukebot-appbar" class="app-bar app-bar-expand bg-appbar" data-role="appbar" data-expand="true" data-role-appbar="true">
    <a href="/" class="brand no-hover">
        <span style="width: 60px; height: 30px; text-align: center; line-height: 28px;" class="border bd-dark border-radius">
            LukeBot
        </span>
    </a>
    <div class="app-bar-container ml-auto d-none d-flex-md">
        <a class="app-bar-item" href="modules">Modules</a>
        <a class="app-bar-item dropdown-toggle">Users</a>
        <ul id="lukebot-users-dropdown" class="d-menu" data-role="dropdown">
            <li class="divider"></li>
            <li><a onclick="Metro.dialog.open('#lukebot-adduser-dialog')">Add user...</a></li>
            <li class="divider"></li>
        </ul>
        <a class="app-bar-item" onclick="DarkModeToggle()">Dark Mode</a>
    </div>
</header>